NODE_ENV=development
# NODE_TLS_REJECT_UNAUTHORIZED=0
# API Configuration
NEXT_PUBLIC_API_URL=https://api.letscync.com
NEXT_PUBLIC_API_GRAPHQL_PATH=graphql
NEXT_PUBLIC_WS_URL=wss://notifications.letscync.com
NEXT_PUBLIC_API_KEY=5PEKABQRQMB2UFCRVJS8I37B


# Next.js Optimizations
NEXT_TELEMETRY_DISABLED=1

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=supersecretkey

# Auth Method: 'api-client' or 'graphql' (apollo)
NEXT_PUBLIC_AUTH_METHOD=graphql

NEXT_PUBLIC_SESSION_TIMEOUT_IN_MINUTES=1500
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=


# Storage provider to use (aws-s3, cloudinary, local)
NEXT_PUBLIC_STORAGE_PROVIDER=aws-s3

# Maximum file size in MB (default: 10MB)
NEXT_PUBLIC_MAX_FILE_SIZE=10

# AWS S3 Configuration (if using aws-s3)
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=eu-west-2
AWS_S3_BUCKET=your_bucket_name_here
NEXT_PUBLIC_AWS_S3_BUCKET=your_bucket_name_here
NEXT_PUBLIC_AWS_REGION=eu-west-2

# Image Hostnames
NEXT_PUBLIC_IMAGE_HOSTNAME_S3=depleteiqstore.s3.eu-west-2.amazonaws.com

# Allowed Development Origins
NEXT_PUBLIC_ALLOWED_DEV_ORIGINS=letscync.com