# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
.next*
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.DS_Store

# Development tracking files (local use only)
WORK_IN_PROGRESS.md
COMPLETED_WORK.md


# domain conig
nginx.conf
/domain_config

# docker config
Dockerfile
docker-compose.yml

package-lock.json
.vscode